<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <h2 class="bg-grey">
            Menu
        </h2>
        <div>
            <ul class="nav nav-sidebar">
                    <li><a href="/user/profile">Orders</a></li>
                    <li><a href="/user/account">Account</a> </li>
            </ul>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <h1>User Profile</h1>
        <hr>
        <h2>My Orders</h2>
        {{# each orders }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        {{# each this.items }}
                            <li class="list-group-item">
                                <span class="badge">{{ this.price }}</span>
                                {{ this.item.title }} | {{ this.qty }} Units
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="panel-footer">
                    <strong>Total Price: ${{ this.totalPrice }}</strong>
                </div>
            </div>
        {{/each}}
    </div>
</div>